<p>renew-inurance works!</p>

<div class="plan-page-div">

    <!-- Details Table Displayed based on Email ID ---------------------------------------------------------------------- -->
    <h1 style="font-weight: bold;">Details Table Displayed based on Email ID</h1>
    <div class="plan-page-table">
        <h1>My Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>policyNo</th>
                    <th>amountPaid</th>
                    <th>policyDate</th>
                    <th>insurancePlan</th>
                    <th>numberOfYears</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plan of dataBasedOnEmail()" style="background-color: gray; height: 10rem;">
                    <td>{{plan.policyNo}}</td>
                    <td>{{plan.amountPaid}}</td>
                    <td>{{plan.policyDate}}</td>
                    <td>{{plan.insurancePlan}}</td>
                    <td>{{plan.numberOfYears}}</td>
                    <td><button><a href="#renewal-page" (click)="passPolicyNo(plan.policyNo)">Renew</a></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Renew Policy Details Table Displayed by checking if it is initially present ---------------------------------------------------------------------- -->
    <!-- <h1 style="font-weight: bold;">Renew Policy Details Table Displayed by checking if it is initially present</h1>
    <div class="plan-page-table">
        <h1>My Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>oldPolicyNo</th>
                    <th>newPolicyNo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renew_detail of checkRenewedPolicyNo()" style="background-color: gray; height: 10rem;">
                    <td>{{renew_detail.oldPolicyNo}}</td>
                    <td>{{renew_detail.newPolicyNo}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- Renew Policy Details Table Displayed ---------------------------------------------------------------------- -->
    <!-- <h1 style="font-weight: bold;"> Renew Policy Details Table Displayed</h1>
    <div class="plan-page-table">
        <h1>My Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>oldPolicyNo</th>
                    <th>newPolicyNo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renew_detail of renew_policy_details_array" style="background-color: gray; height: 10rem;">
                    <td>{{renew_detail.oldPolicyNo}}</td>
                    <td>{{renew_detail.newPolicyNo}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- Insurance Details Table Displayed based on Policy No ---------------------------------------------------------------------- -->
    <h1 style="font-weight: bold;">Details Table Displayed based on Policy No</h1>
    <div class="plan-page-table">
        <h1>My Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>policyNo</th>
                    <th>amountPaid</th>
                    <th>policyDate</th>
                    <th>insurancePlan</th>
                    <th>numberOfYears</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plan of dataBasedOnPolicyNo()" style="background-color: gray; height: 10rem;">
                    <td>{{plan.policyNo}}</td>
                    <td>{{plan.amountPaid}}</td>
                    <td>{{plan.policyDate}}</td>
                    <td>{{plan.insurancePlan}}</td>
                    <td>{{plan.numberOfYears}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <!-- <button (click)="getNextpolicyDate()">Date</button>
    <!-- Full Table Display ---------------------------------------------------------------------- -->
    <!-- <div class="plan-page-table">
        <h1>My Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>policyNo</th>
                    <th>amountPaid</th>
                    <th>policyDate</th>
                    <th>insurancePlan</th>
                    <th>numberOfYears</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plan of renew_plan_page_array" style="background-color: gray; height: 10rem;">
                    <td>{{plan.policyNo}}</td>
                    <td>{{plan.amountPaid}}</td>
                    <td>{{plan.policyDate}}</td>
                    <td>{{plan.insurancePlan}}</td>
                    <td>{{plan.numberOfYears}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>

<!-- Get current Date -->
<!-- <h1 style="font-weight: bold;">{{getCurrentDate()}}</h1> -->

<!-- Policy Number Selection -->
<!-- Dropdown for policy no of respective email id -->
<!-- <div class="policy-no-selection-section">
    <h2>Choose Number Of Years</h2>
    <p>
        <select [(ngModel)]="selected_policy_no">
            <option disabled>Select the Policy Number To Proceed For Renewal Process</option>
            <option value="third_party_liability">Choose Your Policy Number</option>
            <option *ngFor="let data of dataBasedOnEmail()">{{data.policyNo}}</option>
        </select>
    </p>
</div> -->

<!-- Display Selected Policy Number -->
<h3 style="color:blue; text-align: center; font-weight: bold;">Selected Policy Number<br>{{selected_policy_no}}</h3>

<!-- Main Page -->
<div class="plan-page-div">
    <h1 class="plan-page-header">Renew Plan Page</h1>
    Plan: {{renew_plan_page_form.value.insurancePlan}}
    <!-- Plan Page -->
    <!-- <form [formGroup]="renew_plan_page_form" class="plan-page-form" (ngSubmit)="submitRenewDetails()"> -->
    <form [formGroup]="renew_plan_page_form" class="plan-page-form" (ngSubmit)="storeRenewDetails()">
        <div class="plan-content" id="renewal-page">
            <h2>Choose your Plan</h2>
            <div>
                <input type="radio" value="third_party_liability" id="third_party_liability"
                    formControlName="insurancePlan">
                <label for="third_party_liability">Third Party liability</label>
            </div>
            <div>
                <input type="radio" value="comprehensive" id="comprehensive" formControlName="insurancePlan">
                <label for="comprehensive">Comprehensive</label>
            </div>
        </div>
        <div class="year-content">
            <h2>Choose Number Of Years</h2>
            <p>
                <select formControlName="numberOfYears">
                    <option disabled>Select No Of Years</option>
                    <option value=1>Choose Year</option>
                    <option *ngFor="let year of year_list">{{year}}</option>
                </select>
            </p>
        </div>
        <button type="submit" [disabled]='renew_plan_page_form.value.numberOfYears==null ||
         renew_plan_page_form.value.insurancePlan==null || selected_policy_no==null'>
            Submit
        </button>
    </form>
</div>